example/.settings
example/.cache-main
example/.cache-tests
example/.classpath
example/.project
funsets/.settings
funsets/.cache-main
funsets/.cache-tests
funsets/.classpath
funsets/.project
objsets/.settings
objsets/.cache-main
objsets/.cache-tests
objsets/.classpath
objsets/.project
recfun/.settings
recfun/.cache-main
recfun/.cache-tests
recfun/.classpath
recfun/.project


